body{
    width: 100%;
    height: 100%; 
}
#detailcontainer{
    width: 100%;
    height: 100%;
}
#logo{
    width: 60px;
    height: 60px;
}
#cityimg{
    width: 500px;
    height: 500px;
}
#socialimg{
    width: 22px;
    height: 20px;
}